<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only color="royal" >
        <!-- <ion-icon name="search"></ion-icon> -->

          <button ion-button clear  style="margin-left:-65%;float:left">
             <img src="../../assets/imgs/logomoph.png"  width="7%">
             <img src="../../assets/imgs/logomahidol.png"  width="7%">
             <img src="../../assets/imgs/logocu.png"  width="7%">
            </button>
           
           
        <!-- <img src="../../assets/imgs/logomoph.png" alt="" width="10%" style="margin-left:-90%;float:left">
        <img src="../../assets/imgs/logomoph.png" alt="" width="10%" style="margin-left:-80%"> -->
      </button>
    </ion-buttons>
    <ion-title>NMPCD</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="scan()">
        <ion-icon name="md-barcode"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)"  [(ngModel)]="query" name="query"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of items" class="item-text-wrap" (click)="detail(item)">
     <h2> {{item.trade_name}}</h2>
     <p>{{item.name}}</p>
    </button>
  </ion-list>
  <ion-card>
      <!-- <button ion-button clear  style="margin-left:0%;float:left;" >
          <img src="../../assets/imgs/logomoph.png"  width="20px">
          <img src="../../assets/imgs/logomahidol.png"  width="20px">
          <img src="../../assets/imgs/logocu.png"  width="7%">
         </button> -->
         <img src="../../assets/imgs/nmpcd-text.png"  width="7%" *ngIf="!query" >
  </ion-card>


</ion-content>
